.game-screen {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.game-page-title {
    font-size: 5rem;
    text-align: center;
    margin: 0 0 3vh 0;
}

.game-page-content {
    width: 100%;
    padding: 0 2vw;
}

.game-page-content {
    margin: auto;
    width: fit-content;
    display: flex;
    align-items: center;
}

.info-container {
    background-color: #c2c2c2;
    color: #000;
    margin: 0;
    padding: 0.2vh 0.6vw;
    border-radius: 5px;
    width: 30vw;
}

.game-info-container p {
    font-size: 1.05rem !important;
}

.game-info-container {
    height: 30vh;
    margin-top: 1vh;
}

.info {
    display: flex;
    align-items: center;
}
.info * {
    margin: 8px 0;
    padding: 0;
}

.info-text {
    position: relative;
    top: 2px;
}

.info-img {
    width: 32px;
    height: 32px;
}

.game-info-container {
    overflow-y: scroll;
}

.notice {
    margin: 5px 0;
}
