.lobby-creation-menu {
    display: grid;
    place-items: center;
    width: 100% !important;
    height: 100vh !important;
}

.lobby-creation-page-content {
    background-color: var(--dark-blue);
    width: 35%;
    margin: auto;
    padding-bottom: 3.5rem !important;
}

.lobby-creation-page-title {
    font-size: 6rem;
    margin: 2.5rem 0 3rem 0;
    text-align: center;
}

.lobby-creation-form-group {
    width: 70% !important;
    margin: auto;
}

.lobby-creation-form-group .form-submit {
    margin-top: 1rem;
}
