body {
    /* Colors */
    --red: #f03c3c;
    --green: #268d23;
    --orange: #9e6804;
    --purple: #812681;
    --yellow: #838f1d;
    --blue: #074ed3;
    --dark-blue: #09577e;

    --dark: #082d3f;
    --text-color: #fff;

    background-color: var(--dark);
    color: var(--text-color);
}

.bg-red {
    background-color: var(--red);
}

.bg-green {
    background-color: var(--green);
}

.bg-orange {
    background-color: var(--orange);
}
.bg-purple {
    background-color: var(--purple);
}
.bg-yellow {
    background-color: var(--yellow);
}
.bg-blue {
    background-color: var(--blue);
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Amatic SC";
    font-weight: 500;
}

div,
p,
input,
button,
li,
textarea,
small {
    font-family: "Montserrat";
    font-weight: 500;
}

p {
    font-size: 1.2rem;
}

/* Forms */
.form {
    padding: 1rem 0.8rem;
    border-radius: 8px;
}

.form-title {
    font-family: "Amatic SC";
    font-size: 2.2rem;
    text-align: center;
}

.form-group {
    width: 100%;
}

.form-group-title {
    font-family: Montserrat !important;
    margin-bottom: 5px;
}

.form-group-input {
    width: 100%;
}

.form-submit {
    width: 100%;
}

/* Inputs */
input,
textarea {
    padding: 0.7rem 0.8rem;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #faefef;
}

input::selection,
textarea::selection {
    background: #1561f0;
    color: #fff;
}

input:focus,
textarea:focus {
    border: 1px solid var(--dark-blue);
}

/* Buttons */

.btn {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--dark);
    background-color: var(--dark);
    color: var(--text-color);
    transition: 1s;
}

.btn:hover {
    cursor: pointer;
    border: 1px solid var(--blue);
    background-color: var(--blue);
}
